extend layout 

block content 
    div.content
        h1= title
        form(method="POST" action="")
            .form-group
                label(for="name") Technology name 
                input(type="text" name="name" value=(technology == undefined? "" : technology.name)) 
            .form-group 
                label(for="description" ) Description 
                input( type="text" name="description" value=(technology == undefined? "" : technology.description))
            input(type="submit" value="Add technology")
            
        if errors 
            ul 
                for error in errors
                    li!=error.msg